@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0 4rem;
}

/* INTESTAZIONE  */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: auto;
}

header h1 {
    margin-top: 0;
}

header p {
    margin: 0;
    font-size: 0.8rem;
    color: rgb(94, 94, 94);
}

header div {
    display: flex;
    justify-content: space-between;
    
    margin: 1rem 0;
    width: 40%;
}

header div span {
    font-weight: 700;
    color: rgb(102, 102, 102);
    font-size: .85rem;
}

header div a {
    color:red;
    font-size: .85rem;
    text-decoration: none;
}


/* BARRA DI NAVIGAZIONE  */

nav {
    display: flex;
    justify-content: space-between;
    min-width: 1170px;
}

.popular {
    border: solid 3px rgb(255, 233, 250);
    border-radius: 10px;
    height: 2rem;
    width: 5rem;
    font-size: .8rem;
    font-weight: 600;
    padding-left: 1rem;

    display: flex;
    align-items: center;
}

.categories {
    font-size: 0.8rem;
    width: 60%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories a {
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: .75rem;
    margin: 0 .5rem;
}

.filters {
    border: solid 3px rgb(235, 235, 235);
    border-radius: 10px;
    height: 2rem;
    width: auto;
    font-size: .8rem;
    font-weight: 600;
    padding: 0 1rem;

    display: flex;
    align-items: center;
}

.categories-focused {
    height: 2rem;
    width: auto;
    background-color: rgb(238, 238, 238);
    border-radius: 6px;

    display: flex;
    align-items: center;
}

.categories-focused a {
    color: black;
    font-weight: 600;
}


/* CARD */ 

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    max-width: 1370px;
    margin: 0 auto;
}

.card {
    height: auto;
    box-sizing: content-box;
    margin-bottom: 2rem;
}

.card .img {
    height: 210px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
}

.card div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-text {
    display: flex;
    justify-content: space-between;
    padding: .4rem 0;
}

.card-text div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: .8rem;
    width: 55%;    
}

.card-text div:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: .8rem;
    width: 30%;
}

.fa-circle-user {
    font-size: 1.5rem;
}

.card-text .pro {
    background-color: rgb(204, 204, 204);
    max-width: 2rem;
    height: auto;
    border-radius: 3px;
    color: white;
}

.card-text .pro span {
    font-size: .7rem;
}

.card-text div:last-child i {
    font-size: .8rem;
    color: rgb(150, 150, 150);
}
